/Exercicio18/nbproject/private/
/Exercicio18/build/
/Exercicio19/nbproject/private/
/Exercicio19/build/
/Exercicio20/nbproject/private/
/Exercicio20/build/
/Exercicio21/nbproject/private/
/Exercicio21/build/
/Exercicio22/nbproject/private/
/Exercicio22/build/